<!doctype html>
<html>
<head>
    <title>Quote Machine - Picker</title>
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <script defer="defer" src="javascripts/quotepicker.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
    <script>

        var quoteObject = [ <% for(var i = 0; i < quotes.length; i++){%>{quote: '<%= quotes[i].quote %>', movie: '<%= quotes[i].movie %>', image: '<%= quotes[i].image %>' }<% if((i + 1) != quotes.length){%> <%= "," %><%}%><%}%>];

        //makePeopleArray
        //sets array of people on the team, used to setup or reset the people array
        //no parameters
        //no returns
        function makePeopleArray()
        {

            return [<% for(var i = 0; i < users.length; i++){%>{name: '<%= users[i].name %>', submissions: '<%= users[i].submissions %>', picture: '<%= users[i].picture %>' }<% if((i + 1) != users.length){%> <%= "," %><%}%><%}%>];

        }//end makePeopleArray

    </script>

    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

<% include nav.ejs %>

    <div class="row">

        <div id="interface" class="col-sm-12 well text-center">

            <button id="pickerButton">Pick!</button>

            <button id="resetButton">Reset</button>

            <div id="timerOutput">

        
            </div>

            <br />

            <button id="pauseResume">Pause Timer</button>

        </div>

    </div>

    <div class="row">

        <div id="activeList" class="col-sm-2 well text-center">

        </div>

        <div id="output" class="col-sm-8 text-center">

            <img src="loading.gif" alt="loading">

        </div>

        <div id="removedList" class="col-sm-2 well text-center">

        </div>

    </div>

</div>
</body>
</html>