<!doctype html>
<html>
<head>
    <title>Quote Machine - User Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script defer="defer" src="javascripts/save.js"></script>
    <script src="javascripts/jquery-2.1.4.min.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

<% include nav.ejs %>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">

                <h3><span class="fa fa-user"></span> Profile</h3>

                <form id="save" method="post">
                    
                    <div class="form-group">

                        <img id="picture" style="max-width: 247px" src="/images/<%= user.local.picture %>" alt="Your Profile Picture"> <br /> <div id="ouptut"> </div>
        
                        <label>Change Picture</label>
                        <input type="file" id="picture" name="picture"> <div id="pictureError"></div>
    
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        <input id="name" type="text" class="form-control" name="name" value="<%= user.local.name %>"> <div id="nameError"></div>
                    </div>

                    <div class="form-group">
                        <p><strong>Email</strong>: <%= user.local.email %></p>
                        <p><strong>Number of Submissions</strong>: <%= user.local.submissions %></p>
                        <p><strong>ID</strong>: <%= user._id %></p>
                        <button type="submit" class="btn btn-warning btn-lg">Save</button>
                    </div>

                </form>

            </div>
        </div>

    </div>

</div>
</body>
</html>